Thumbs.db

## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/eclipse/saves/*

## intellij
/out
/.idea
/atlassian-ide-plugin.xml

## Private Stuffs
/private.properties

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar